@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FormPost_ASP.NET.Models.PersonalModel
@{
    Layout = null;
}

<div>
    <div>
        @Model?.Name
    </div>
    @using(Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Personal Details</th>
            </tr>

            <tr>
                <td>PersonId:</td>
                <td>@Html.TextBoxFor(m => m.PersonId)</td>
            </tr>

            <tr>
                <td>Name:</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>

            <tr>
                <td>Gender:</td>
                <td>@Html.DropDownListFor(m => m.Gender, new List<SelectListItem>{
                    new SelectListItem{Text="Male", Value="M"},
                    new SelectListItem{Text="Female", Value="F"}}, "Please select")
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>@Html.TextBoxFor(m => m.City)</td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }
</div>
